<section class="details-title">
  <h2>Hidden Gym- {{address}}</h2>
</section>
<div class="details-container">
<img src="{{image}}" alt="gym photo" class="rounded-corners">
</div>
<section class="upvote-buttons-section container">
    <section class="upvote-buttons-section">
        <form action="/gyms/{{id}}/details/yes" method="POST">
            <button type="submit">UPVOTE!</button>
        </form>
    </section>
    <section class="downvote-buttons-section">
        <form action="/gyms/{{id}}/details/no" method="POST">
            <button type="submit">DOWNVOTE!</button>
        </form>
    </section>
</section>

<h3>EQUIPMENT:</h3>
<li>{{equipmentAvailable}}</li>


</h3>
<h3>ADDITIONAL INFO:</h3>
<li>{{additionalInfo}}</li>
{{#if averageRating}}
<h3>GYM RATING: {{averageRating}}%</h3>
{{else}}
<h3>GYM RATING: No votes yet. Be the first one to rate it!</h3>
{{/if}}
<h3>CREATED BY: {{creator}}</h3>

<a href="/gyms/{{_id}}/details/edit">EDIT</a>

<form action="/gyms/{{_id}}/details/delete" method="POST">
    <button type="submit">DELETE</button>
</form>