<section class="details-title">
  <h2>Hidden Gym- {{address}}</h2>
</section>

<img src="{{image}}" alt="gym photo">
<h3>EQUIPMENT:</h3>
<li>{{equipmentAvailable}}</li>
</h3>
<h3>ADDITIONAL INFO:</h3>
<li>{{additionalInfo}}</li>

<p>RATING: {{averageRating}}</p>
<p>CREATED BY: {{creator}}</p>

<a href="/gyms/{{_id}}/details/edit">EDIT</a>

<form action="/gyms/{{_id}}/details/delete" method="POST">
    <button type="submit">DELETE</button>
</form>