<h2>Hidden Gym- {{address}}</h2>
<h3>Rating: {{averageRating}}</h3>



<<<<<<< HEAD
<img src="{{image}}" alt="gym photo">
<h3>Equipment Available: </h3>
=======
<img src="{{imageUrl}}" alt="">
<h3>Equipment Available: 
>>>>>>> f0343c15903811492209a37f33bb6528a6848288
  <p>{{equipmentAvailable}}</p>
</h3>
<h3>Additional Information: 
  <p>{{additionalInfo}}</p>
</h3>
<p>This Hidden Gym was listed by: {{creator}}</p>

                

<a href="/gyms/{{_id}}/details/edit">EDIT</a>

<form action="/gyms/{{_id}}/details/delete" method="POST">
    <button type="submit">DELETE THE SON OF A BITCH</button>
</form>