<h3>THIS SPECIFIC GYM:</h3>
    <p>{{address}}</p>
    <p>{{additionalInfo}}</p>
    <img src="{{imageUrl}}" alt="">
    <p>{{creator}}</p>
    <p>{{averageRating}}</p>

                

<a href="/gyms/{{_id}}/details/edit">Edit</a>