<section class="details-title">
  <h2>Hidden Gym- {{gym.address}}</h2>
</section>
<div class="details-container">
<img src="{{gym.image}}" alt="gym photo" class="rounded-corners">
</div>
<section class="upvote-buttons-section container">
    <section class="upvote-buttons-section">
        <form action="/gyms/{{gym.id}}/details/yes" method="POST">
            <button type="submit">UPVOTE!</button>
        </form>
    </section>
    <section class="downvote-buttons-section">
        <form action="/gyms/{{gym.id}}/details/no" method="POST">
            <button type="submit">DOWNVOTE!</button>
        </form>
    </section>
</section>
<section class="this-gym-display">
    <h3>EQUIPMENT:</h3>
    <li>{{newEquipmentList}}</li>
    <h3>ADDITIONAL INFO:</h3>
    <li>{{gym.additionalInfo}}</li>
    {{#if gym.averageRating}}
    <h3>GYM RATING:</h3>
    <li>{{gym.averageRating}}%</li>
    {{else}}
    <h3>GYM RATING:</h3>
    <li> No votes yet. Be the first one to rate it!</li>
    {{/if}}
    <h3>CREATED BY:</h3>
    <li>{{creator}}</li>
<section class="edit-delete-buttons container">
    <a class="edit-buttons-section" href="/gyms/{{gym._id}}/details/edit">EDIT THIS HIDDEN GYM</a>
<form class="edit-buttons-section"action="/gyms/{{gym._id}}/details/delete" method="POST">
    <button type="submit">DELETE</button>
</form>
</section>
</section>
