 <section class="welcome-title">
     <div>
    <h2>Welcome, {{currentUser.username}}!</h2>
     </div>
     <div style="flex-shrink: 0">
    <h3>HIDDEN GYMS IN BARCELONA- </h3>

     </div>
 </section>


<section class="gyms-list-gallery">
    {{#each gyms}}
    <a class="this-gym-details" href="/gyms/{{_id}}/details">
    <h3>{{address}}</h3>
        <ul>
            <li>
                <img src="{{image}}">
            </li>

            </li>
                <p>Rating: {{averageRating}}</p>
            </li>

        </ul>
    </a>
    {{/each}}
</section>