<h2>Welcome to Hidden Gym, {{currentUser.username}}!</h2>
<h3>HIDDEN GYMS IN BARCELONA- </h3>


<ul class="gyms-list">
    {{#each gyms}}
        <li>
            <a href="/gyms/{{_id}}/details">
                <h4>{{address}}</h2>
                <h5>Rating: {{averageRating}}</h3>
                {{!-- <p>{{creator}}</p>
                 --}}
            </a>
        </li>
    {{/each}}
</ul>