 <section class="welcome-title">
     <div>
    <h2>Welcome, {{currentUser.username}}!</h2>
     </div>
     {{!-- <div style="flex-shrink: 0">
    <p>Create, Rate, and Discover Hidden Gym</p>

     </div> --}}
 </section>

<h1> HIDDEN GYMS IN BARCELONA- </h1>

<section class="gyms-list-gallery">
    {{#each gyms}}
    <a class="this-gym-details" href="/gyms/{{_id}}/details">
    <h1>{{address}}</h1>
        <ul>
            <li>
                <article class="image-contain">
                <img src="{{image}}" >
                </article>
            </li>


            </li>
                {{#if averageRating}}
                    <p>GYM RATING: {{averageRating}}%</p>
                {{else}}
                    <p>GYM RATING: No votes yet<br>Be the first one to rate it!</p>
                {{/if}}
            </li>

        </ul>
    </a>
    {{/each}}
</section>