<h3>THIS SPECIFIC PARK:</h3>
    <p>{{address}}</p>
    <p>{{additionalInfo}}</p>
    <img src="{{imageUrl}}" alt="">
    <p>{{creator}}</p>
    <p>{{averageRating}}</p>

                

<a href="/parks/{{_id}}/details/edit">Edit</a> 