<section class="details-title">
  <h2>Edit Hidden Gym- {{address}}</h2>
</section>

<img src="{{image}}" alt="gym photo">
<h3>EQUIPMENT:</h3>
<li>{{equipmentAvailable}}</li>
</h3>
<h3>ADDITIONAL INFO:</h3>
<li>{{additionalInfo}}</li>

<p>RATING: {{averageRating}}</p>
<p>CREATED BY: {{creator}}</p>

<form action="/gyms/{{_id}}/details/edit" method="POST" enctype="multipart/form-data">
  <label for="address">EDIT ADDRESS</label>
  <input type="text" name="address" id="address" value="{{address}}">
  <br>
  <label for="photo">NEW IMAGE</label>
  <input type="file" name="photo" id="photo" value="{{image}}"/>
  <br>
  <label for="equipmentAvailable">EDIT EQUIPMENT</label>
  <input type="text" name="equipmentAvailable" id="equipmentAvailable" value="{{equipmentAvailable}}">
  <br>
  <label for="additionalInfo">ADDITIONAL INFO</label>
  <input type="text" name="additionalInfo" id="additionalInfo" value="{{additionalInfo}}">
  <br>
  <button type="submit">UPDATE!</button>
</form>

