<section class="details-title">
  <h2>EDIT Hidden Gym-{{gym.address}}</h2>
</section>
<div class="details-container">
<img src="{{gym.image}}" alt="gym photo">
</div>
<br>
  <label for="photo">CHANGE IMAGE</label>
  <input style="width:90vw" type="file" name="photo" id="photo" value="{{gym.image}}"/>
  <br>
<h3>EQUIPMENT:</h3>
<li>{{gym.equipmentAvailable}}</li>
</h3>
<h3>ADDITIONAL INFO:</h3>
<li>{{gym.additionalInfo}}</li>

<h3>RATING:</h3>
<li>{{gym.averageRating}}%</li>
<h3>CREATED BY: </h3>
<li>{{gym.creator}}</li>

<form id="edit-fields" action="/gyms/{{gym._id}}/details/edit" method="POST" enctype="multipart/form-data">
  <label for="address">EDIT ADDRESS</label>
  <input style="width:90vw" type="text" name="address" id="address" value="{{gym.address}}">
<br>
  <label for="equipmentAvailable">EDIT EQUIPMENT</label>
  <br>
  <br>
  <label for="equipmentAvailable">CHECK ALL THE STATIONS AVAILABLE AT THIS PARK-</label>
  <div>

  <input type="checkbox" name="PullUpBarStation" class="equipmentAvailable" {{#if gymStuff.PullUpBarStation}}checked{{/if}} />Pull-Up-Bar Station
  </div>
  <div>
  <input type="checkbox" name="HorizontalLadder" class="equipmentAvailable" {{#if gymStuff.HorizontalLadder}}checked{{/if}} />Horizontal Ladder
  </div>
  <div>
  <input type="checkbox" name="HandHoldLegLiftStation" class="equipmentAvailable" {{#if gymStuff.HandHoldLegLiftStation}}checked{{/if}} />Hand-Hold/Leg-Lift Station
  </div>
  <div>
  <input type="checkbox" name="TriplePushUpBar" class="equipmentAvailable" {{#if gymStuff.TriplePushUpBar}}checked{{/if}} />Triple Push-Up-Bar
  </div>
  <div>
  <input type="checkbox" name="SitUpStation" class="equipmentAvailable" {{#if gymStuff.SitUpStation}}checked{{/if}} />Sit-Up Station
  </div>
  <div>
  <input type="checkbox" name="SweedishWall" class="equipmentAvailable" {{#if gymStuff.SweedishWall}}checked{{/if}} />Sweedish Wall
  </div>
  <div>
  <input type="checkbox" name="ParallelBars" class="equipmentAvailable" {{#if gymStuff.ParallelBars}}checked{{/if}} />Parallel Bars
  </div>
  <div>
  <input type="checkbox" name="ChinUpStation" class="equipmentAvailable" {{#if gymStuff.ChinUpStation}}checked{{/if}} />Chin-Up Station
  </div>
  <div>
  <input type="checkbox" name="BeamJumpStation" class="equipmentAvailable" {{#if gymStuff.BeamJumpStation}}checked{{/if}} />Beam Jump Station
  </div>
  <br>
  <label for="additionalInfo">MORE ADDITIONAL INFO?</label>
  <input style="width:90vw" type="text" name="additionalInfo" id="additionalInfo" value="{{additionalInfo}}">
  <br>
  <button type="submit">UPDATE!</button>
</form>

